---
    import A from "../Link.astro";
    interface Props {
        CurrentPage:string;
    }
    const {CurrentPage} = Astro.props
---
<a href="/">
    <header style="" class=" bg-stone-900 h-24 flex items-center justify-center">
        <h1 style="font-family: 'Share Tech'; color:rgb(97, 105, 253); font-size:xx-large;">
            Parlier Welding Club
        </h1>
        <nav>

            <A CurrentPage={CurrentPage} text="Home" timeout={1}></A>
            <A CurrentPage={CurrentPage} text="Cabinet" timeout={2}></A>
            <A CurrentPage={CurrentPage} text="Gallery" timeout={3}></A>
            <A CurrentPage={CurrentPage} text="Projects" timeout={4}></A>
        </nav>
    </header>
</a>

<style>
    header{
        display:flex; 
        justify-content: space-around;
        
    }
    nav{
        display: flex;
        gap:5vmin;
    }
</style>