---


import  "./HoverinLink.less"
interface Props {
	href?: string;
    timeout:number;
	text:string;
    CurrentPage:string;
}

    let { text, href = text, timeout,CurrentPage} = Astro.props;
    let number = `${timeout}s`
---
<style define:vars={{number}}>
    a{
        animation: fancy var(--number);
    }
</style>


<!-- url would be /href -->
<a class=" text-cyan-500 font-medium glowOption" id=`linko${timeout}` href=`/Parlier-Welding-Website/${href}`>
    {text}
</a>

<script define:vars={{timeout,text,CurrentPage}}>
 
    try{
        if(CurrentPage && CurrentPage == text){
        console.log("we have a name")
        document.getElementById(`linko${timeout}`).style.color = "#06b6d4"
            document.getElementById(`linko${timeout}`).style.textShadow = "cyan 0 0 10px"

        }else{
            setTimeout(()=>{
            document.getElementById(`linko${timeout}`).style.color = "#06b6d4"
            document.getElementById(`linko${timeout}`).style.textShadow = "cyan 0 0 10px"
            },timeout*100)
            console.log(text,CurrentPage)
        }
    }catch{
        console.log("nope")
    }
</script>
